fastapi
uvicorn
pandas
numpy
pydantic
pytest
python-multipart
PyJWT
passlib[bcrypt]
bcrypt
python-jose[cryptography]
PyJWT
passlib[bcrypt]
python-multipart
python-jose[cryptography]
bcrypt
email-validator